/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.banner-container{
    display: flex;
    width: 1440px;
    height: 677px;
    background-color: blue;


}
.banner-container:hover .watch-live-botton{
     transform: scale(2);
     transition: transform 10s ease;
    
}

.banner-heading{
    width: 485px;
    height: 230px;
    
font-size: 64px;
margin-top: 207px;
margin-left: 156px;
margin-bottom: 27px;
padding-right: 102px;
}
.banner img{
    
    width: 556px;
    height: 438px;
    
     margin-right: 141px;  
    
    margin-top: 153px;
    margin-bottom: 86px;
    
    
}
.watch-live-botton{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: white;
    
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    margin-left: 156px;
    margin-bottom: 169px;
    
    



}

/* ---------------------------------
---second section blogs strats -----------
----------------------------------------*/
.blogs{
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    width: 1050px;
    height: 975px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    grid-row-gap: 27px;
}
.blog{
    width: 330px;
    height: 456px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    
    
}

.player-pic{
    width: 300px;
    height: 256px;
    padding: 15px 15px 16px 15px;
}
.player-info{
    width: 300px;
    height: 154px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
      
}
.player-name{
    font-size: 28px;
}
.player-info h6{
    margin-top: 0;
    margin-bottom: 0;
}
.description{
    font-size: 16px;
    color: #6C6C6C;
}

/* social media section */
.football-image{
    width: 483.87px;
height:110px;
margin: 70px 481.13px 20px 475px;

}
.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 14px;
    width: 170px;
    height: 32px;
    margin-left: 631.94px;
    margin-right: 638px;
    margin-bottom: 0px;

}
.icon-size{
    width: 32px;
    height: 32px;
}
.copyright{
    font-size: 16px;
    width: 236px;
    height: 31px;
    margin: 2px 605px 63px 598.94px;
}
/* bonus portion */
.videos{
    width: 567px;
    height: 427px;
    


}
.title{
    width: 400px;
    height: 315px;
    border: 1px solid lightgrey;
    padding-right: 69px;
text-align: center;
color: black;
background-color: lightslategray;
    
    
}
.highlights{
    display: flex;
    justify-content: center;
    margin-left: 182px;
    margin-right: 156px;
    margin-top: 600px;
    margin-bottom: 20px;
    
}
.highlights:hover .title{
    transform: scale(2);
    transition: transform 2s ease;
}

/* -----------------
media queries
-------------------- */
@media only screen and (max-width:688px){
    .banner-container{
        
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        
        height: 100%;
    }
    .banner{
        justify-content: center;
        align-items: center;
    }
    .highlights{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .last{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: flex-start;
        
    }
}
   